#= ASSETS
assets/*
!assets/dist
!assets/fonts
!assets/images
!assets/videos

#= FILES
.DS_Store
*.pug
*.html
!index.html
!about.html
!collection.html
!collections.html
!product.html
!customized.html
!mix-match.html
prepros.config